#!/bin/sh

export PATH=$HOME/bin:$HOME/.local/bin${PATH:+:${PATH}}
export LD_LIBRARY_PATH=/opt/cuda/lib64:$HOME/.local/lib${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}


export MANPATH="/usr/local/man${MANPATH:+:${MANPATH}}"


# SUDO
__t=$(sudo -nv 2>&1)
if [[ $? -eq 0 ]]; then
	:
elif [[ $__t == sudo* ]]; then
	:
else
	export NOSUDO=1
fi


# You may need to manually set your language environment
if [[ -z ${LANG+x} ]]; then
	export LANG=en_US.UTF-8
fi


# Preferred editor for local and remote sessions
if [[ -n ${SSH_CONNECTION+x} ]]; then
	export EDITOR='vim'
else
	export EDITOR='subl'
fi


# Get OS names
if [[ -f /etc/os-release ]]; then
    . /etc/os-release
    export OS_NAME=$NAME
    export OS_ID=$ID
fi


# Compilation flags
case $(uname -m) in
x86_64)
	export ARCHFLAGS="-arch x86_64"
	;;
i*86)
	export ARCHFLAGS="-arch i386"
	;;
*)
	;;
esac


# JAVA
if [[ -z ${JAVA_HOME+x} ]]; then
	if [ -d /usr/lib/jvm/default ]; then
		export JAVA_HOME=/usr/lib/jvm/default
	elif [ -d /usr/lib/jvm/default-java ]; then
		export JAVA_HOME=/usr/lib/jvm/default-java
	fi
fi


# Conda, anaconda, or mambaforge
if [[ -d $HOME/mambaforge ]]; then
	export CONDA_PATH=$HOME/mambaforge
elif [[ -d /opt/mambaforge ]]; then
	export CONDA_PATH=/opt/mambaforge
elif [[ -d $HOME/anaconda3 ]]; then
	export CONDA_PATH=$HOME/anaconda3
elif [[ -d /opt/anaconda3 ]]; then
	export CONDA_PATH=/opt/anaconda3
elif [[ -d $HOME/miniconda3 ]]; then
	export CONDA_PATH=$HOME/miniconda3
elif [[ -d /opt/miniconda3 ]]; then
	export CONDA_PATH=/opt/miniconda3
fi


# GPG_TTY
export GPG_TTY="$(tty)"


# Cargo
if [[ -n $(command -v cargo) ]]; then
	export PATH=$HOME/.cargo/bin:$PATH
fi


# wine
if [[ -n $(command -v wine) ]]; then
	export WINEDEBUG=fixme-font
fi


# Custom environment variable
export EVA="ariseus"
