#!/bin/sh

# This file should support both bash and zsh

__export_path() {
  case ":${PATH}:" in
  *:"$1":*) ;;
  *)
    export PATH="$1:$PATH"
    ;;
  esac
}

__export_path "$HOME/bin"
__export_path "$HOME/.local/bin"
export LD_LIBRARY_PATH="/opt/cuda/lib64:$HOME/.local/lib${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}"

[ -n "$(command -v brew)" ] && __export_path /usr/local/sbin

# go
if [ -d /usr/local/go/bin ]; then
  __export_path /usr/local/go/bin
fi

# SUDO
# https://superuser.com/a/1281228
# https://github.com/koalaman/shellcheck/wiki/SC2181
if __sudo=$(sudo -nv 2>&1); then
  # has sudo access w/o password
  :
elif echo "$__sudo" | grep -q '^sudo:'; then
  # has sudo access need password
  :
else
  # no sudo access
  export NOSUDO=1
fi
unset __sudo

# Preferred editor for local and remote sessions
if [ -n "${SSH_CONNECTION+x}" ]; then
  export EDITOR=vim
else
  export EDITOR=code
fi

# JAVA
if [ -z "${JAVA_HOME+x}" ]; then
  if [ -d /usr/lib/jvm/default ]; then
    export JAVA_HOME=/usr/lib/jvm/default
  elif [ -d /usr/lib/jvm/default-java ]; then
    export JAVA_HOME=/usr/lib/jvm/default-java
  # MacOS `brew install java`
  elif [ -d /Library/Java/JavaVirtualMachines/openjdk.jdk/Contents/Home ]; then
    export JAVA_HOME=/Library/Java/JavaVirtualMachines/openjdk.jdk/Contents/Home
  fi
fi

# Conda, anaconda, or mambaforge
for CONDA in anaconda3 miniconda3 mambaforge; do
  if [ -d "$HOME/$CONDA" ]; then
    export CONDA_PATH="$HOME/$CONDA"
  elif [ -d "/opt/$CONDA" ]; then
    export CONDA_PATH="/opt/$CONDA"
  fi
done
unset CONDA
# MacOS `brew install mambaforge`
if [ -d /usr/local/Caskroom/mambaforge/base ]; then
  export CONDA_PATH=/usr/local/Caskroom/mambaforge/base
elif [ -d /opt/homebrew/Caskroom/mambaforge/base ]; then
  export CONDA_PATH=/opt/homebrew/Caskroom/mambaforge/base
fi

# SDKMAN
if [ -d "$HOME/.sdkman" ]; then
  export SDKMAN_DIR="$HOME/.sdkman"
fi

# GPG_TTY
GPG_TTY="$(tty)"
export GPG_TTY

# Cargo
# rustup shell setup
# affix colons on either side of $PATH to simplify matching
__export_path "$HOME/.cargo/bin"

# wine
if [ -n "$(command -v wine)" ]; then
  export WINEDEBUG=fixme-font
fi

# Cisco Anyconnect
if [ -d /opt/cisco/anyconnect/bin ]; then
  __export_path /opt/cisco/anyconnect/bin
fi

# Custom environment variable
export EVA=ariseus
