[user]
	name = garywei944
	email = 33930674+garywei944@users.noreply.github.com
	signingkey = 9BC8C5A654BC03D9A8D07225B6DDB1D9AD77DE0D
[core]
	editor = vim
	autocrlf = input
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = gpg
