// window-rule {
//     match is-active=false
//     opacity 0.95
// }

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// window-rule {
//     match app-id=r#"fcitx5$"#
//     open-floating true
// }
